<a href="https://colab.research.google.com/github/AWCDUNG/Mini-Project/blob/main/Colaboratory_ch%C3%A0o_m%E1%BB%ABng_b%E1%BA%A1n!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [151]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [152]:
# Create SparkSession from builder master("local[1]") \
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('PySparkLesson2.com') \
                    .config("spark.memory.offHeap.enabled","true") \
                    .config("spark.memory.offHeap.size","10g")\
                    .getOrCreate()

In [153]:
spark2 = SparkSession.newSession
print(spark2)

<function SparkSession.newSession at 0x7ebaa8bc1ea0>

In [154]:
# Get Existing SparkSession
spark3 = SparkSession.builder.getOrCreate
print(spark3)

<bound method SparkSession.Builder.getOrCreate of <pyspark.sql.session.SparkSession.Builder object at 0x7eba72689b70>>

In [155]:
# Usage of config()
spark3 = SparkSession.builder \
      .master("local[1]") \
      .appName("PySparkLesson2.com") \
      .config("spark.some.config.option", "config-value") \
      .getOrCreate()

In [156]:
# Get a Spark Config
partitions = spark.conf.get("spark.sql.shuffle.partitions")
print(partitions)

200

In [157]:
# Create DataFrame
df = spark.createDataFrame(
    [("Scala", 25000), ("Spark", 35000), ("PHP", 21000)])
df.show()

+-----+-----+
|   _1|   _2|
+-----+-----+
|Scala|25000|
|Spark|35000|
|  PHP|21000|
+-----+-----+

In [158]:
# Get metadata from the Catalog
# List databases
dbs = spark.catalog.listDatabases()
print(dbs)

[Database(name='default', catalog='spark_catalog', description='default database', locationUri='file:/content/spark-warehouse')]

In [159]:
# List Tables
tbls = spark.catalog.listTables()
print(tbls)

[]

In [160]:
#Create RDD from parallelize
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=spark.sparkContext.parallelize(data)
rdd

ParallelCollectionRDD[389] at readRDDFromFile at PythonRDD.scala:289

In [165]:
#Create RDD from external Data source
rdd2 = spark.sparkContext.textFile("/content/drive/MyDrive/test.txt")
rdd2

/content/drive/MyDrive/test.txt MapPartitionsRDD[401] at textFile at <unknown>:0

In [166]:
# Creates empty RDD with no partition
rdd = spark.sparkContext.emptyRDD
# rddString = spark.sparkContext.emptyRDD[String]

In [167]:
#Create empty RDD with partition
rdd2 = spark.sparkContext.parallelize([],10) #This creates 10 partitions

rdd = spark.sparkContext.textFile("/content/drive/MyDrive/test.txt")

In [169]:
rdd2 = rdd.flatMap(lambda x: x.split(" "))

rdd3 = rdd2.map(lambda x: (x,1))

rdd4 = rdd3.reduceByKey(lambda a,b: a+b)

rdd5 = rdd4.map(lambda x: (x[1],x[0])).sortByKey()
#Print rdd5 result to console
print(rdd5.collect())

[(9, 'Project'), (9, 'Gutenberg’s'), (18, 'Alice’s'), (18, 'Adventures'), (18, 'in'), (18, 'Wonderland'), (18, 'by'), (18, 'Lewis'), (18, 'Carroll'), (27, 'This'), (27, 'eBook'), (27, 'is'), (27, 'for'), (27, 'the'), (27, 'use'), (27, 'of'), (27, 'anyone'), (27, 'anywhere'), (27, 'at'), (27, 'no'), (27, 'cost'), (27, 'and'), (27, 'with')]
Count : 23

In [174]:
rdd4 = rdd3.filter(lambda x : 'an' in x[0])
print(rdd4.collect())

[('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('Wonderland', 1), ('anyone', 1), ('anywhere', 1), ('and', 1), ('anyone', 1), ('anywhere', 1), ('and', 1)]

In [175]:
print("Count : "+str(rdd5.count()))

Count : 23

In [176]:
firstRec = rdd5.first()
print("First Record : "+str(firstRec[0]) + ","+ firstRec[1])

datMax = rdd5.max()
print("Max Record : "+str(datMax[0]) + ","+ datMax[1])

totalWordCount = rdd5.reduce(lambda a,b: (a[0]+b[0],a[1]))
print("dataReduce Record : "+str(totalWordCount[0]))

First Record : 9,Project
Max Record : 27,with
dataReduce Record : 522

In [172]:
data3 = rdd5.take(3)
for f in data3:
    print("data3 Key:"+ str(f[0]) +", Value:"+f[1])

data3 Key:9, Value:Project
data3 Key:9, Value:Gutenberg’s
data3 Key:18, Value:Alice’s

In [173]:
data = rdd5.collect()
for f in data:
    print("Key:"+ str(f[0]) +", Value:"+f[1])

Key:9, Value:Project
Key:9, Value:Gutenberg’s
Key:18, Value:Alice’s
Key:18, Value:Adventures
Key:18, Value:in
Key:18, Value:Wonderland
Key:18, Value:by
Key:18, Value:Lewis
Key:18, Value:Carroll
Key:27, Value:This
Key:27, Value:eBook
Key:27, Value:is
Key:27, Value:for
Key:27, Value:the
Key:27, Value:use
Key:27, Value:of
Key:27, Value:anyone
Key:27, Value:anywhere
Key:27, Value:at
Key:27, Value:no
Key:27, Value:cost
Key:27, Value:and
Key:27, Value:with

In [177]:
# Action - write the RDD to a text file

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

#Creates Empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

#Diplays
#EmptyRDD[188] at emptyRDD

EmptyRDD[426] at emptyRDD at NativeMethodAccessorImpl.java:0

In [178]:
#Create Schema
from pyspark.sql.types import StructType,StructField, StringType
schema = StructType([
  StructField('firstname', StringType(), True),
  StructField('middlename', StringType(), True),
  StructField('lastname', StringType(), True)
  ])

In [179]:
#Create empty DataFrame from empty RDD
df = spark.createDataFrame(emptyRDD,schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [180]:
#Convert empty RDD to Dataframe
df1 = emptyRDD.toDF(schema)
df1.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [181]:
#Create empty DataFrame directly.
df2 = spark.createDataFrame([], schema)
df2.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [182]:
#Create empty DatFrame with no schema (no columns)
df3 = spark.createDataFrame([], StructType([]))
df3.printSchema()

root